.header {
  display: flex;
  width: 100%;
  height: 10%;
  background-color: black;
  /* inside modal */ }
  .header__navigation {
    display: flex;
    width: 100%;
    justify-content: space-between; }
  .header__titlogo {
    display: flex;
    align-items: center; }
  .header__logo {
    display: flex;
    flex-direction: row;
    padding: 0 1rem; }
  .header__logo--img {
    width: 3rem;
    height: 3rem;
    border-radius: 40%;
    background-color: white; }
  .header__title {
    display: flex;
    flex-direction: row;
    color: white;
    font-size: 2rem;
    padding: 0 1rem; }
  .header__title--h1 {
    font-family: 'Courier New', Courier, monospace; }
  .header__list {
    display: flex;
    list-style-type: none;
    padding: 1rem;
    align-items: center; }
  .header__li {
    text-decoration: none;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 6.5rem;
    height: 1.5rem;
    color: #fff;
    margin: 0 1rem;
    padding: 0.3rem 0.2rem;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    border-radius: 0.6rem;
    border: none;
    background: #6c757d;
    box-shadow: 0 5px #495057; }
    .header__li--a {
      text-decoration: none;
      color: white; }
  .header__li:hover {
    box-shadow: 0 0.3rem #495057;
    top: 0.06rem; }
  .header__li:active {
    box-shadow: 0 0 #495057;
    top: 1.5rem; }
  .header__nav {
    display: flex;
    flex-direction: row; }
  .header__login {
    text-decoration: none;
    justify-content: center;
    align-self: center;
    padding: 0 1rem;
    width: 4.5rem;
    height: 1.5rem;
    color: #fff;
    margin: 0 1rem;
    padding: 0.3rem 0.2rem;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    border-radius: 0.6rem;
    border: none;
    background: #6c757d;
    box-shadow: 0 5px #495057; }
  .header__modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: black;
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    padding-top: 60px; }
  .header__modal-content {
    background-color: #fefefe;
    margin: 5px auto;
    border: 1px solid #888;
    width: 40%;
    border-radius: 3rem; }
  .header__close {
    /* Position it in the top right corner outside of the modal */
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold; }
  .header__close:hover, .header__close:focus {
    color: white;
    cursor: pointer; }
  .header__animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s; }
  .header__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 3rem; }
  .header__img-container {
    display: flex;
    justify-content: center;
    align-items: center; }
  .header__avatar {
    width: 8rem;
    height: 8rem; }
  .header__username {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    padding: 1rem; }
  .header__name {
    padding: 0.5rem;
    border-radius: 1rem; }
  .header__button-login {
    display: flex;
    padding: 0.4rem 1.2rem;
    margin: 1rem;
    border: 0.1rem solid #302f2f;
    border-radius: 0.4rem; }
  .header__box {
    display: flex;
    flex-direction: column;
    padding: 0 2%;
    justify-content: center;
    align-items: center;
    padding: 0.4rem;
    font-size: 1rem;
    text-align: center; }
  .header__cancelbtn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    padding: 0.4rem 1.2rem;
    border: 0.1rem solid #302f2f;
    border-radius: 0.4rem; }
  .header__psw {
    display: flex;
    justify-content: center;
    align-items: center; }

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0); }
  to {
    -webkit-transform: scale(1); } }

@keyframes animatezoom {
  from {
    transform: scale(0); }
  to {
    transform: scale(1); } }

* {
  margin: 0;
  padding: 0; }

.layout {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(129deg, #000 0%, #1503BA 100%); }
